IST402_n8n_GroupProject
{
  "name": "RAG Workflow For Company Documents stored in Google Drive",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "=ist402",
          "mode": "id"
        },
        "options": {}
      },
      "id": "2d375777-9054-476a-a6d2-9c76ee4ea432",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        288,
        304
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "11jhceweSXjq9uRi",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "d9cd676d-165f-40c4-91d2-c15b5f542a02",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        256,
        592
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "mR85M10MFmGUzPvd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "e64ab2ca-23fa-4dce-9ea7-a94db4279427",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        448,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "53ed84e0-7a13-43dd-b0cb-d0291df3c877",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        432,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful HR assistant designed to answer employee questions based on company policies.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the employee's question.\n\nUse the tool called \"company_documents_tool\" to retrieve any information from the company's documents.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""
        }
      },
      "id": "951e07d0-2e7d-4597-849d-ea588b221161",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        32,
        1152
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "ist402",
        "description": "Retrieve information from any company documents"
      },
      "id": "2b2d9c05-86f6-47a2-a631-471ccb890f28",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        416,
        1248
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "=ist402",
          "mode": "id"
        },
        "options": {}
      },
      "id": "acdc3101-f1cb-4f67-bb03-caba30468b2b",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        320,
        1456
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "11jhceweSXjq9uRi",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "6f21b3ad-ad95-4e88-a2e0-8171fc1a92c8",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        240,
        1616
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "mR85M10MFmGUzPvd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "b8eb511d-8079-4b27-a9d1-54dc576b06ae",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        80,
        304
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YqJe9pbEqo3I104w",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Ts1UdNQe7o-x1ARTy0uel6LHNXmaPEo9",
          "mode": "list",
          "cachedResultName": "ist402_proj",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Ts1UdNQe7o-x1ARTy0uel6LHNXmaPEo9"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "5682c053-3702-4541-adb6-8bc3291e9a71",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -224,
        416
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YqJe9pbEqo3I104w",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Ts1UdNQe7o-x1ARTy0uel6LHNXmaPEo9",
          "mode": "list",
          "cachedResultName": "ist402_proj",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Ts1UdNQe7o-x1ARTy0uel6LHNXmaPEo9"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "e3d9853a-0d4b-4e76-9e06-49efac7030c2",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -256,
        192
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YqJe9pbEqo3I104w",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "id": "5d9ad3f4-a399-41ee-8478-82e63679bf76",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        112,
        1456
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "417ec850-7dea-40f9-a4a4-cd7091ae56dd",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -320,
        1152
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "4a34938c-8796-4464-88eb-169f57c7766a",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -208,
        1392
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "mR85M10MFmGUzPvd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "89fbd958-2060-4a9b-8a11-91f4349036a3",
      "name": "Google Gemini Chat Model (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        608,
        1440
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "mR85M10MFmGUzPvd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model (retrieval)": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3238a22b-433e-4c63-84d4-f5815bc1dc6b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d5ad7d859eed545a662d2e753ade218f5b067c5337b7b645ed21cd90ef65df9"
  },
  "id": "UJR5GPRGLAqosZIB",
  "tags": []
}
